<?xml version="1.0"?>
<config>
    <tabs>
        <magefm translate="label" module="magefm_cdn">
            <label>MageFM</label>
            <sort_order>900</sort_order>
        </magefm>
    </tabs>
    <sections>
        <magefm_cdn translate="label" module="magefm_cdn">
            <label>CDN</label>
            <tab>magefm</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enabled>
                        <storage translate="label">
                            <label>Storage</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <source_model>magefm_cdn/source_storage</source_model>
                        </storage>
                    </fields>
                </general>
                <resize translate="label">
                    <label>Generate resized images</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <image translate="label comment">
                            <label>Base image</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Use "|" to separate multiple sizes. To keep aspect ratio of the original image, left width or height blank, i.e. 135x<br />Example: 135x|260x260|x50]]></comment>
                        </image>
                        <small_image translate="label comment">
                            <label>Small image</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Use "|" to separate multiple sizes. To keep aspect ratio of the original image, left width or height blank, i.e. 135x<br />Example: 135x|260x260|x50]]></comment>
                        </small_image>
                        <thumbnail translate="label comment">
                            <label>Thumbnail</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Use "|" to separate multiple sizes. To keep aspect ratio of the original image, left width or height blank, i.e. 135x<br />Example: 135x|260x260|x50]]></comment>
                        </thumbnail>
                    </fields>
                </resize>
                <storage_s3 translate="label">
                    <label>Amazon Simple Storage Service</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <bucket translate="label">
                            <label>Bucket</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                        </bucket>
                        <key translate="label">
                            <label>Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                        </key>
                        <secret translate="label">
                            <label>Secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                        </secret>
                    </fields>
                </storage_s3>
            </groups>
        </magefm_cdn>
    </sections>
</config>